server {
    charset utf-8;
    listen 80;
    server_name blog.maxiaoteng.xyz;

    location /static {
        alias /var/www/mxt_blogs_project/static; 
    }

    location / {
        proxy_pass http://localhost:2018;
    }
}